.button-controls {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px; /* приклад значення */
}

.like-button {
  background-color: #085350;
  color: white;
  border: none;
  padding: 10px 15px;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
}

.dislike-button {
  background-color: #F3F5F5;
  color: black;
  border: none;
  padding: 10px 15px;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
}
